
.button{
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 25px;
	vertical-align: left;
	overflow: hidden;
	text-decoration: none;
	color: #DC143C
	background-color: #000;
	text-align: left;
	white-space: nowrap
}

.button1 {
    color: white;
}

.button1:hover {
    background-color: #A52A2A;
    color: white;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Third image (Contact) */
.bgimg-3 {
    background-image: url("media/screenshot3.png");
    background-color: black;
}

.bgimg-1 {
    background-image: url("media/screenshot1.jpg");
    background-color: black;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("media/background22.jpg");
    background-color: black;
}
