body, html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: rgba(231, 236, 238, 0.1);
}
p {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
}
h1 {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  color: black;
  padding-bottom: 15px;
  font-weight: bold;
}
h2 {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 32px;
  color: black;
  padding-bottom: 5px;
  font-weight: bold;
  opacity: 0.8;
}
h3 {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
h4 {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
  color: grey;
  font-style: italic;
}
h5 {
  font-family:  "Roboto", "Lucida Grande", sans-serif;
  color: black;
  opacity: 0.7;
}
h6 {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}
li {
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}
ul {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.page-cover-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30vh;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}

/* audio player */
.bottomPlayer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

/* SIZING */
/* For Mobile */
@media screen and (max-width: 740px) {
    .view {
      padding-left: 0px;
      padding-right: 0px;    }
}

/* For Tablets */
@media screen and (min-width: 740px) {
    .view {
        padding-left: 200px;
        padding-right: 200px;
      }
}

/* For Mobile */
@media screen and (max-width: 740px) {
    .viewWorks {
      padding-left: 0px;
      padding-right: 0px;    }
}

/* For Tablets */
@media screen and (min-width: 740px) {
    .viewWorks {
        padding-left: 400px;
        padding-right: 400px;
      }
}

/* For Mobile */
@media screen and (max-width: 740px) {
    .fontView {
      font-size: 10px;
    }
}

/* For Tablets */
@media screen and (min-width: 740px) {
    .fontView {
        font-size: 25px;
      }
}

.item {
   padding:15px;
}
/*  IMAGE CONTAINERS */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 100%;
  /* padding:15px; */
}
.columnAdaptive {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 20%;
}

.third {
  width: 33%;
}

.middle {
  width: 40%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 500px) {
  .column {
    float: left;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .columnAdaptive {
    width: 100%;
  }
}

/* SLIDESHOW */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(120,120,120,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  letter-spacing: 4px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* text reveal */
@keyframes mymove2 {
  0%   {    color: white;}
}
@-webkit-keyframes mymove2 {
  0%   {    color: white;}
}

.box2 {
  position :relative;
  -webkit-animation: mymove2 4s ; /* Safari 4.0 - 8.0 */
  animation: mymove2 4s ;
}

/* title reveal */
@keyframes mymove {
  0%   {    letter-spacing: .0em;}
  100% {    letter-spacing: .1.2em;}
}

}
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 25px;}
}

.box {
  position :relative;
  -webkit-animation: mymove 2s ; /* Safari 4.0 - 8.0 */
  animation: mymove 2s ;
}

/* NAVBAR */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
  top: -60px;
  transition: top 0.3s;
}


ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: rgb(92, 110, 114);
}

/* @media screen and (max-width: 740px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
  ul.topnav {position: relative;}
} */

/* IMAGES */
/* zet opacity wanneer met muis over plaatje hoveren */
.hoverOpacity:hover {
  opacity: 0.8;
}

.borderImage {
  border:3px solid black;
}

/* TEXT OVER IMAGE */
/* Container holding the image and the text */
.container {
  position: relative;
  /* text-align: center; */
  color: white;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 46px;
  left: 46px;
}

/* Centered text */
.contactAlign {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.contactPicAlign {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 36px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 36px;
}
/* ANIMATION */
/* image reveal */
@keyframes mymove3 {
  0%   {    opacity: 0;}
  50%   {    opacity: 0;}
}
@-webkit-keyframes mymove3 {
  0%   {    color: white;}
}

.box3 {
  position :relative;
  -webkit-animation: mymove3 4s ; /* Safari 4.0 - 8.0 */
  animation: mymove3 4s ;
}

/* OVERLAY */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.8)
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.overlayText {
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
