
.button{
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 25px;
	vertical-align: left;
	overflow: hidden;
	text-decoration: none;
	color: #DC143C
	background-color: #000;
	text-align: left;
	white-space: nowrap;
}

.button1 {
    color: black;
}

.button1:hover {
    background-color: darkred ;
    color: white;
}

.button2 {
    color: black;
		/* background-color: rgba(255, 255, 255, 0.3); */
}

.color2 {
	background-color: lightgrey;
	opacity: 0.5;
}

.button2:hover {
    background-color: darkred ;
    color: white;
}

.sideBar {
	background-color: #680707;
}

/* #A52A2A */

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Third image (Contact) */
.bgimg-3 {
    background-image: url("media/screenshot44.png");
    background-color: black;
}

.bgimg-4 {
    background-image: url("media/terminal1.png");
    background-color: black;
}

.bgimg-5 {
    background-image: url("media/sounddesign.jpg");
    background-color: black;
}

.bgimg-1 {
    background-image: url("media/screenshot3.png");
    background-color: black;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("media/background22.jpg");
    background-color: black;
}
